/* Color Inspiration from: https://www.canva.com/learn/website-color-schemes/ */
:root {
  --main-bg-color: #fff;
  --main-text-color: #3a4557;
  --main-header-color: #4e42c3;
  --second-header-color: rgba(39,47,65,.8);
  --second-text-color: #edf2f7;
  --color-accent: #dfe7ef;
  --color-shadow: #8b97ad;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Lato", "Geneva", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}

.frame > *:not(nav) {
  padding: 2% 10%;
}

.frame > main {
  padding-top: 5%;
}

h1 {
  color: var(--main-header-color);
}

h2,
h3 {
  color: var(--c--main-header-color);
  padding: 1% 0;
}

a {
  color: var(--color-shadow);
  text-decoration: none;
}

/* ===== NAVBAR ===== */
nav {
  box-shadow: 0px 1px 10px #999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--main-bg-color);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: var(--main-text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: var(--color-accent);
}

/* ===== MAIN SECTION ===== */
main {
  text-align: center;
  font-size: 1.5rem;
  background-image: linear-gradient( #4e42c3, #3a4557);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
}

main h1 {
  color: var(--color-accent);
}

main h2 {
  color: var(--color-accent);
  padding-bottom: 3%;
}

.profile-pic {
  width: 15%;
  border-radius: 50%;
}



/* ===== PORTFOLIO ===== */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  height: auto;
}


.portfolio-box {
  /* Source for box-shadow property: https://www.w3schools.com/css/css3_shadows.asp */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  text-align: center;
  margin: 2% 0;
  padding: 1%;
  width: 45%;
}


.portfolio-pic {
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}


.portfolio-box ul,
.portfolio-box li {
  display: inline-block;
  font-style: italic;
  list-style-type: none;
  margin: 15px;
  padding: 0;
}

.portfolio-box h3 {
  font-size: 1.5rem;
}


.portfolio-box a:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 800px) {
  .portfolio-box {
    width: 90%;
  }
}

/* ===== SKILLS ===== */
.skills {
  overflow: hidden;
  text-align: center;
}

.skills h1 {
  text-align: left;
}

.skills > div {
  display: inline-block;
  padding: 1% 4.5%;
}


/* ===== RESOURCES ===== */
.resources {
  overflow: hidden;
}

.resources > div {
  display: inline-block;
  padding: 0 3% 2% 0;
  text-align: center;
  max-width: 30%;
  vertical-align: top;
}


.logo {
  height: 50px;
  object-fit: contain;
  object-position: center;
  width: auto;
}



.book-image {
   height: 20vh;
}


.resources a:hover {
  opacity: 0.5;
}


/* ===== FOOTER ===== */
footer {
  background-color: var(--color-accent);
  background-image: linear-gradient(var(--color-accent), var(--second-text-color));
}

footer i {
  padding: 0 3% 0 0;
  color: var(--main-header-color);
}


